name: Update
on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT_TOKEN }}
      
      - name: Execute
        env:
          SCRIPT: ${{ secrets.SCRIPT }}
          PAT_TOKEN: ${{ secrets.PAT_TOKEN }}
          ARCHIVE_URL: ${{ secrets.ARCHIVE_URL }}
          COMMIT_USERNAME: ${{ secrets.COMMIT_USERNAME }}
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
        run: echo "$SCRIPT" | base64 -d | bash
